<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vigurskiy.lwspeedometer">

    <application
        android:name=".LwSpeedometerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.vigurskiy.speedometerdatasource.mock.MockDataSourceService">
            <intent-filter>
                <action android:name="com.vigurskiy.speedometerdatasource.mock.SERVICE"/>
            </intent-filter>
        </service>

        <service
            android:name="com.vigurskiy.speedometerdatasource.external.ExternalDataSourceService"
            android:process=":external_data"
            >
            <intent-filter>
                <action android:name="com.vigurskiy.speedometerdatasource.external.SERVICE"/>
            </intent-filter>
        </service>

    </application>

</manifest>